
<table id="historial" class="table table-bordered lh1" style="font-size: 0.95rem;">
  <thead>
    <tr>
      <th class="col-2">Fecha</th>
      <th class="col-1">Linea</th>
      <th class="col-1">Coche</th>
      <th class="col-5">Problema</th>
      <th class="col-2">Caso</th>
      <th class="col-1 text-muted">Edit</th>
    </tr>
  </thead>
  <tbody>
      {{#each validadores}}
        <tr>
          <td>{{this.fecha}}</td>
          <td>{{this.linea}}</td>
          <td>{{this.coche}}</td>
          <td>{{this.problema}}</td>
          <td>{{this.caso}}</td>
        </tr>
      {{/each}}

  </tbody>
</table>

<!-- <input type="hidden" id="filaSeleccionada">  -->