<div class="container-fluid ">
  <div class="row" style="flex-wrap: nowrap;">

    <div class="col-1" style="min-width: 190px;"> <!-- este maneja el ancho del formulario. y tambi칠n ancho m칤nimo-->
      {{> formulario}} <!--todos los que se llamen de este modo deben encontrarse en partials-->
      <!-- y para actualizarce debe actualizarce toda la p치gina      text-danger  alert alert-primary   -->
    </div>

    <div class="col-9" style="min-width: 200px;"> <!-- CUIDADO: afecta a toda la tabla tambi칠n -->

      <div class="container">
        <div class="navbar-nav flex-row">

          <!-- style="border: 1px solid #86b7fe; border-radius: 8px; box-shadow: 0px 0px 2px 2px #86b7fe" -->
          <div style="min-width: 150px;">
            <h5 class="mt-2 p-2">
              {{resultadosDe}}
              <span class="ms-2 fw-bold " style="font-size: 1.1rem; color: {{colorOpcion this.equipo}};"> {{busqueda}}
              </span>
            </h5>
          </div>

          <div style="display: flex; align-items: center; white-space: nowrap;" class="ms-3">
            <label for="equiSel">Buscar Serie:</label>
            <input autofocus type="number" name="serieHisto" id="serieHisto" class="form-control fw-bold ms-2" min="1" max="999999999"
              title="Ingrese serie" style="color: {{colorOpcion this.equipo}};">
            <button id="consultar" class="border btn {{#if ocultar}}oculto{{/if}} ">游늭</button>
          </div>

          <div style="display: flex; align-items: center; white-space: nowrap;">          
              <label for="equiSel" class="ms-3">Filtrar por:</label>
              <select class="custom-select form-control fw-bold ms-2" name='equi' id="equiSel"
                style="color: {{colorOpcion this.equipo}}; display: inline-block; appearance: auto;" title="Seleccione el equipo">
                <option value="">Todos</option>
                <option value="validador" {{isSelected equipo 'validador' }}>Validador</option>
                <option value="teclado" {{isSelected equipo 'teclado' selected }}>Teclado</option>
                <option value="mountinKit" {{isSelected equipo 'mountinKit' }}>MountinKit</option>
                <option value="concentrador" {{isSelected equipo 'concentrador' }}>Concentrador</option>
                <option value="otros" {{isSelected equipo 'otros' }}>Otros</option>
              </select>
            
          </div>

        </div>
      </div>


      {{#if mostrarHistorial}}
      {{> historial}}
      {{/if}}

      {{#if mostrarUltimos}}
      {{> ultimos}}
      {{/if}}

      {{#if ocultar}}
      <h4>Bienvenido</h4>
      <p>Para grabar un equipo llene el formulario de la derecha, o en el</p>
      <p>men칰 superior eliga la consulta a realizar. luego podr치</p>
      <p>filtrar la consulta por tipo de equipo en "Flitrar por".</p>
      <p>Para buscar un n칰mero de serie ingreselo en "Buscar Serie".</p>
      {{/if}}


    </div>

    <!--  <div id="nota"></div> -->

  </div>
</div>

<script>
  //SELECT para FILTRO por EQUIPO:
  const equiSel = document.getElementById("equiSel")

  equiSel.addEventListener('change', () => {
    const spinnerContainer = document.querySelector('.spinner-container');
    spinnerContainer.classList.remove('escondido') // Muestra el Spinner. cuando se actualize la p치gina se oculta solo.

    equipoElegido = equiSel.value
    //ENVIAMOS el equipoElegido al servidor:
    const dato = JSON.stringify({ 'equipo': equipoElegido })
    console.log(dato)
    fetch('/equipoElegido', {   // + equipoElegido, { no hace falta mandarlo por la ruta. va por el body.
      method: 'POST',             //PORQUE si la ruta est치 mal el server me devuelve status 200 ????????
      headers: {
        'Content-Type': 'application/json',   //sin esto no anda.
      },
      body: dato,
    })
      .then(response => {    //si el fetch fue correcto el servidor devuelve una respuesta (que no tiene que ver con el catch)
        if (response.ok) {   //el ok es parte de una Api Rest, as칤 como el body.
          return response.json()   //esto TIENE QUE ESTAR para poder recibir luego el msg. lo pasa a json para poder ser le칤do por el siguiente .then{msg}
        }
        else {
          throw new Error(`Error de red - ${response.status}`); //esto se hace para que lo capture el .catch siguiente. lanzamos un error adrede.
        }
      })
      .then(msg => {         //ahora llega bien el equipo elegido!!
        console.log('Cambio a equipo: ', msg)
        if (!'{{ocultar}}') {
          location.reload(); // Actualizamos la p치gina para que tome el equipo elegido SOLO si NO est치 oculto los botones, o sea cuando NO estoy Editando.
        }
      })  //deber칤a chequear otra cosa junto con ocultar, para no depender de esa variable, que tiene otra funci칩n.
      // YA CRE칄 UN NUEVO FORMULARIO de EDICION as칤 que ocultar ya no hace falta
      .catch((error) => {       //si la ruta est치 mal devuelve el error por aqu칤 aunque el status sea 200. s칩lo maneja errores de red.
        console.log('Ocurri칩 un error: ', error)
      })
  })

  //Al CONSULTAR
  //leemos el numero de serie ingresado por el usuario   //NO se puede acceder a Id's de otros Handlebars
  const consultarBtn = document.getElementById('consultar')
  const serieHisto = document.getElementById('serieHisto')   

  consultarBtn.addEventListener('click', () => {
    const serieNum = serieHisto.value                     // SALVO que hagamos un formulario normal y nos evitamos todo este Javascript. HACERLO EN EL FUTURO
    if (serieNum) {                              //si se ingres칩 algo..
      var url = '/api/equipos/' + encodeURIComponent(serieNum);
    } else { url = '#' }
    //fetch(url)    //un fetch ser칤a buena opci칩n para enviar los datos por el body y no por la url
    console.log('{{elegido}}')    //ESTA ES LA FORMA DE leer una VARIABLE HANDLEBARS en JAVASCRIPT: entre comillas para que la trate como un string.
   // guardar()
    window.location.href = url    //como el enlace tiene un # necesitamos darle la nueva url                    
  })

   serieHisto.addEventListener('keypress', e => {     //al apretar ENTER consultamos mediante redirecci칩n url a ese serie.
    if (e.key == "Enter") {   
      const numSerie = serieHisto.value                 
      if (numSerie) {
        var url = '/api/equipos/' + numSerie    //+ encodeURIComponent({{serie}});
     
        window.location.href = url
      }
      else { url = '#' }
      
    }  
  })
</script>