
<div class="col-8">    <!-- con esto conseguí achicar la tabla -->

<table id="historial" class="table table-bordered lh1" style="font-size: 0.95rem;">
  <thead>
    <tr>
      <th class="col-1">Equipo</th>
      <th class="col-1">Fecha</th>
      <th class="col-1">Linea</th>
      <th class="col-1">Coche</th>
      <th class="col-4">Problema</th>
      <th class="col-1">Caso</th>
      <th class="col-1 text-muted">Edit</th>
    </tr>
  </thead>
  <tbody>
      {{#each equipos}}
        <tr>
          <td class="fw-bold" style="color: {{colorOpcion this.equipo}};">{{this.equipo}}</td>
          <td>{{this.fecha}}</td>
          <td>{{this.linea}}</td>
          <td>{{this.coche}}</td>     <!-- el nowrap impide que se achique,así que no actúa el hidden. text-overflow: ellipsis; PERO parece que el problema es que no hay forma de achicar esa columna -->
          <td class="problema tooltip-show" >{{this.problema}}</td>
          <td>{{this.caso}}</td>
          <td>
           <a href="edit/{{_id}}">Editar</a>        <!--  _id es el del documento FUNCIONA! -->
       <!--      <i class="fas fa-pencil"></i>         traté de poner un ícono pero falta FONT AWESOME -->
          </td> 
        </tr>
      {{/each}}

  <!--  <div class="row bg-warning p-3">
      {{#each validadores}}
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4>{{serie}}</h4>
            </div>
          </div>
        </div>
      {{/each}}
    </div>      -->

  </tbody>
</table>

<!-- <input type="hidden" id="filaSeleccionada">  -->
 </div>

 <style>
  .problema {
    white-space: nowrap;     /* evita el salto de línea */
    text-overflow: ellipsis;  /* agrega puntos suspensivos... no funciona sin el nowrap */
    overflow-x: hidden;      /* oculta el texto que se desborda. con "auto" me agrega la barra de scroll */
    max-width: 550px;
  }
 </style>