<div class="row mt-1">

  <div id="ultimos" class="col-12">
    <table class="table table-bordered lh-1 col-12" style="font-size: 0.95rem;">
      <thead>
        <tr>
          <th class="col-1">Equipo</th>
          <th class="col-1">Serie</th>
          <th class="col-1">Fecha</th>
          <th class="col-1">Linea</th>
          <th class="col-1">Coche</th>
          <th class="col-md-auto">Problema</th>
          <th class="col-1">Caso</th>
          <th class="col-1">Entregado</th>
        </tr>
      </thead>
      <tbody>
        {{#each equipos}}
        <tr>
          <td class="fw-bold" style="color: {{colorOpcion this.equipo}};">{{this.equipo}}</td>
          <td class="fw-bold" style="color: {{colorOpcion this.equipo}};">{{this.serie}}</td>
          <td style="white-space: nowrap;">{{this.fecha}}</td>
          <td style="color: {{colorOpcion this.linea}};">{{this.linea}}</td>
          <td>{{this.coche}}</td>
          <td class="problema">{{this.problema}}</td>
          <td>{{this.caso}}</td>
          <td>
            <!-- <form action="entregado/_id" method="post">  -->
            {{#if this.caso}}
            <button class="entregado-btn" data-id="{{_id}}" style="border: none; background: none;">
              <!-- HAY que usar CLASS si o si. no sirve id -->
              {{#if this.entregado}}
              <span class="ms-2">✅</span>
              {{else}}
              <span class="ms-2">⚪</span>
              {{/if}}
            </button>
            {{/if}}

          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>


</div>

<style>
  .problema {
    white-space: nowrap;
    /* evita el salto de línea */
    text-overflow: ellipsis;
    /* agrega puntos suspensivos... no funciona sin el nowrap */
    overflow-x: hidden;
    /* oculta el texto que se desborda. con auto me agrega la barra de scroll */
    min-width: 200px;
    max-width: 400px;
    /* background-color: #1f55b4; */
  }

  .problema:hover {
    white-space: normal;
    /* Permite que el texto se muestre completo */
    overflow: visible;
    /* Muestra todo el texto */
    z-index: 999;
    /* Asegura que el texto completo esté encima de otras filas */
    position: absolute;
    /* Permite que el texto completo se muestre sobre otras filas */
    background-color: white;
    /* Fondo blanco para mayor claridad */
    border: 1px solid #666;
  }

  th {
    font-weight: 600;
  }
</style>

<!-- <script src="scripts.js"> </script> -->