<div class="row mt-3">

  <div id="ultimos" class="col-12">
    <h5 class="p-2" style="border: 1px solid #86b7fe; border-radius: 8px; box-shadow: 0px 0px 2px 2px #86b7fe" >{{resultadosDe}} 
        <span class="ms-2 fw-bold text-danger" style="font-size: 1.1rem;"> {{busqueda}} </span> </h5>
    <!--<button id="consultar" class="btn btn-primary text-white mb-3">Consultar</button> style="min-width: 200px;"  alert alert-primary -->
    <table class="table table-bordered lh-1 col-12" style="font-size: 0.95rem;">
      <thead>
        <tr>
          <th class="col-1">Equipo</th>
          <th class="col-1">Serie</th>
          <th class="col-1">Fecha</th>
          <th class="col-1">Linea</th>
          <th class="col-1">Coche</th>
          <th class="col-2">Problema</th>
          <th class="col-1">Caso</th>
          <th class="col-1">Entregado</th>
        </tr>
      </thead>
      <tbody>
        {{#each equipos}}
        <tr>
          <td class="fw-bold" style="color: {{colorOpcion this.equipo}};">{{this.equipo}}</td>
          <td class="fw-bold" style="color: {{colorOpcion this.equipo}};">{{this.serie}}</td>
          <td style="white-space: nowrap;">{{this.fecha}}</td>
          <td style="color: {{colorOpcion this.linea}};">{{this.linea}}</td>
          <td>{{this.coche}}</td>
          <td class="problema">{{this.problema}}</td>
          <td>{{this.caso}}</td>
          <td>
            <form action="entregado/{{_id}}" method="post">
              {{#if this.caso}}
              <button type="submit" style="border: none; background: none;">
                {{#if this.entregado}}
                <span class="ms-2">✅</span>
                {{else}}
                <span class="ms-2">⚪</span>
                {{/if}}
              </button>
              {{/if}}
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>


</div>

<style>
  .problema {
    white-space: nowrap;
    /* evita el salto de línea */
    text-overflow: ellipsis;
    /* agrega puntos suspensivos... no funciona sin el nowrap */
    overflow-x: hidden;
    /* oculta el texto que se desborda. con auto me agrega la barra de scroll */
    min-width: 200px;
    max-width: 400px;
   /* background-color: #1f55b4; */
  }
 .problema:hover {
  white-space: normal; /* Permite que el texto se muestre completo */
  overflow: visible; /* Muestra todo el texto */
  z-index: 999; /* Asegura que el texto completo esté encima de otras filas */
  position: absolute; /* Permite que el texto completo se muestre sobre otras filas */
  background-color: white; /* Fondo blanco para mayor claridad */
  border: 1px solid orange;
}
</style>

<script>  //no es lo que quería. antes de cargarse mostrar el spinner. luego se sale solo. PRUEBO DESDE EL NAV
//  window.onload = () => {
//    const spinnerContainer = document.querySelector('.spinner-container');
//    spinnerContainer.classList.remove('escondido') // Muestra el Spinner. cuando se actualize la página se oculta solo.
//  };
</script>