<div class="row mt-3">

  <div id="ultimos" class="col-8" >
    <h5>Ultimos Anotados: <span id="titulo" class="fw-bold text-danger"> </span> </h5>
    <!--<button id="consultar" class="btn btn-primary text-white mb-3">Consultar</button> style="min-width: 200px;" -->
    <table id="tablaValidador" class="table table-bordered lh-1" style="font-size: 0.90rem;">
      <thead>
        <tr>
          <th class="col-1">Equipo</th>
          <th class="col-1">Serie</th>
          <th class="col-1">Fecha</th>
          <th class="col-1">Linea</th>
          <th class="col-1">Coche</th>
          <th class="col-4">Problema</th>
          <th class="col-1">Caso</th>
          <th class="col-1">Entregado</th>
        </tr>
      </thead>
      <tbody>
        {{#each validadores}}
        <tr>
          <td class="fw-bold" style="color: {{colorOpcion this.equipo}};">{{this.equipo}}</td>
          <td class="fw-bold">{{this.serie}}</td>
          <td style="white-space: nowrap;">{{this.fecha}}</td>
          <td>{{this.linea}}</td>
          <td>{{this.coche}}</td>
          <td class="problema">{{this.problema}}</td>
          <td>{{this.caso}}</td>
          <td>
            <a href="entregado/{{_id}}">check</a> 
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  

</div>

<style>
  .problema {
    white-space: nowrap;     /* evita el salto de línea */
    text-overflow: ellipsis;  /* agrega puntos suspensivos... no funciona sin el nowrap */
    overflow-x: hidden;      /* oculta el texto que se desborda. con auto me agrega la barra de scroll */
    max-width: 500px;
  }
 
</style>
